.borderWrapper {
	background: $stripe-color;
	padding: 1.5rem 1.5rem 0 1.5rem;
	display: none;
	height: 100vh;
}

.gameBoard {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
	justify-content: center;
	background: $dark-color;
	padding: 3rem;
}

.card {
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
	max-width: 150px;

	&:active {
		transform: scale(0.95);
	}

	&Flip {
		transform: rotateY(180deg);
	}
}

.cardFront,
.cardBack {
	max-width: 100%;
	height: auto;
	backface-visibility: hidden;
}

.cardBack {
	position: absolute;
	top: 0;
	left: 0;
}

.cardFront {
	position: relative;
	transform: rotateY(180deg);
}

.infoTurn {
	display: flex;
	background: $dark-color;
	color: #fff;
	padding: 2rem 1rem;
	justify-content: space-between;
	font-family: 'Press Start 2P', cursive;

	p {
		margin-right: 2rem;
		font-size: 1.6rem;
	}

	button {
		font-size: 1.6rem;
	}
}

.gmBoardReturn {
	display: inline-block;
	background: transparent;
	border: none;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5rem;
}

.gameMessage {
	display: none;
	background: rgba(0, 0, 0, 0.9);
	text-align: center;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	padding-top: 20%;

	.statement {
		font-family: 'Press Start 2P', cursive;
		font-size: 3rem;
		margin-bottom: 4rem;
	}

	.replay {
		margin-bottom: 4rem;
	}
}
