@media screen and (max-width: 1100px) {
	.gameBoard {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.btn {
		padding: 1rem 2rem;
	}

	.wrapper {
		width: 100%;
	}
	header {
		h1 {
			font-size: 4rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.infoTurn {
		padding: 2rem 1rem;

		p {
			margin-right: 1rem;
			font-size: 1rem;
		}
		button {
			font-size: 1rem;
		}
	}
}
