/* Utilites */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 90%;
}

.btn {
	display: inline-block;
	@include pixBorder(2px, black);
	background: $light-color;
	color: #000;
	padding: 1rem 4rem;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.7px;
	font-family: 'Montserrat', sans-serif;
	line-height: 2.4rem;
	text-transform: uppercase;

	&:hover {
		background: orange;
	}
}
